<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <!-- Topology Submission -->
    <bean id="exclamationTopologySubmission" class="storm.contrib.spring.topology.SingleTopologySubmission" c:topologyId="exclamationTopology" c:stormTopology-ref="exclamationTopology" p:config-ref="config"/>
    <!-- Topology Config -->
    <bean id="config" class="backtype.storm.Config" p:debug="false" p:numWorkers="1" p:maxTaskParallelism="16"/>

     <!-- Assembled Topologies -->
    <bean id="exclamationTopology" class="storm.contrib.spring.topology.TopologyFactory" c:spout-ref="topologySpouts" c:bolt-ref="topologyBolts"/>
    <util:list id="topologySpouts">
        <bean id="wordSpout" class="storm.contrib.spring.topology.component.spout.RichSpout" c:componentId="word" c:stormSpout-ref="testWordSpoutImpl" p:parallelismHint="10"/>
    </util:list>
    <util:list id="topologyBolts">
        <bean id="exclamationBolt1" class="storm.contrib.spring.topology.component.bolt.RichBolt" c:componentId="exclaim1" c:stormBolt-ref="exclamationBoltImpl" p:boltGroupings-ref="exclamationGrouping1" p:parallelismHint="3"/>
        <!--bean id="exclamationBolt2" class="storm.contrib.spring.topology.component.bolt.RichBolt" c:componentId="exclaim2" c:stormBolt-ref="exclamationBoltImpl" p:boltGroupings-ref="exclamationGrouping2" p:parallelismHint="2"/-->
        <bean id="simpleSolrBolt" class="storm.contrib.spring.topology.component.bolt.RichBolt" c:componentId="exclaim2" c:stormBolt-ref="simpleSolrBolt" p:boltGroupings-ref="simpleSolrBoltGrouping" p:parallelismHint="2"/>
    </util:list>

    <!-- Grouping For Each Bolt -->
    <bean id="exclamationGrouping1" class="storm.contrib.spring.topology.component.grouping.ShuffleBoltGrouping" c:componentId="word"/>
    <bean id="exclamationGrouping2" class="storm.contrib.spring.topology.component.grouping.ShuffleBoltGrouping" c:componentId="exclaim1"/>
    <bean id="simpleSolrBoltGrouping" class="storm.contrib.spring.topology.component.grouping.ShuffleBoltGrouping" c:componentId="exclaim1"/>
    <!-- Bolt And RichSpout Implementations -->
    <bean id="testWordSpoutImpl" class="backtype.storm.testing.TestWordSpout"/>
    <bean id="exclamationBoltImpl" class="storm.sample.bolt.ExclamationBolt"/>
    <bean id="simpleSolrBolt" class="storm.contrib.solr.SimpleSolrBolt">
        <constructor-arg value="http://master.spark.com:8983/solr/collection1"/>
    </bean>

    <bean id="solrConfig" class="org.apache.storm.solr.config.SolrConfig">
        <constructor-arg index="0" value="master.spark.com:2181/solr"/>
        <constructor-arg index="1" value="collection1"/>
        <constructor-arg index="2" value="id"/>
    </bean>

    <bean id="countBasedCommit" class="org.apache.storm.solr.config.CountBasedCommit">
        <constructor-arg value="2"/>
    </bean>

    <bean id="restJsonSchemaBuilder" class="org.apache.storm.solr.schema.builder.RestJsonSchemaBuilder">
        <constructor-arg index="0" value="master.spark.com"/>
        <constructor-arg index="1" value="8983"/>
        <constructor-arg index="2" value="collection1"/>
    </bean>

    <bean id="SolrFieldsMapperBuilder" class="org.apache.storm.solr.mapper.SolrFieldsMapper$Builder" >
        <constructor-arg index="0" type="org.apache.storm.solr.schema.builder.SchemaBuilder" ref="restJsonSchemaBuilder"/>
        <constructor-arg index="1" type="java.lang.String" value="collection1"/>
        <property name="multiValueFieldToken" value="%"/>
    </bean>
</beans>